.SecondCard {
  width: 412px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  padding: 32px;
  border-radius: 30px;
  height: 416px;
  margin-left: 3rem;
}
.imgDiv {
  margin-left: 7rem;
}
